body {
	background-color: black;
}

p {
	color: white;
}

ul {
	width:1850px;
	height: 300px;
	padding: 0;

}
div {
	width:60px;
	height:200px;
	float: left;
	display: block;
	margin: 1px;
	border: none; 
	overflow: hidden;

}

div {
	width:60px;
	height:200px;
	float: left;
	display: block;
	margin: 1px;
	border: none; 
	overflow: hidden;

}

div:hover {
	border: 1px solid white;
	margin: -1px;
	overflow: hidden;
}

div.hide {
	display:none;
}


