body {
	background-color: black;
}


ul.colors {
	width:1850px;
	height: 300px;
	padding: 0;

}


ul.title {
	font-family: sans-serif;
	color: black;
	margin: 0 auto;

	 background: rgba(255, 255, 255, .9);
	 width: 20%;
	 display:table-cell;
	 vertical-align:middle;
	 padding: 10px;
	 text-align: center;
	 z-index: 700;
	 display: block;
	 position: absolute;
	 top: 10px;
	 right: 0px;
}

/*ul.title {
	display: none;
}
*/
div {
	width:60px;
	height:200px;
	float: left;
	display: block;
	margin: 1px;
	border: none; 
	overflow: hidden;

}

div:hover {
	border: 1px solid white;
	margin: -1px;
	overflow: hidden;
}

div.hide {
	display:none;
}


