body {
	background-color: black;
}


ul.colors {
	width:96%;
	height: 90%;
	overflow: hidden;
	padding: 0;
	margin: 1% 2% 0% 2%;
	text-align: center;


}


div.title {
	font-family: sans-serif;
	color: black;
	background: rgba(255, 255, 255, .9);
	padding: 1.2em;
	
	z-index: 700;
	position: absolute;
	margin: 0;
	left: 0px;
	bottom:0px;
	height: 10%;
	width: 100%;
	line-height: 4px;
	display: inline-block;
	
}

p.name {
	left: 20%;
	
}
p.loc{
	left: 50%;
}
/*ul.title {
	display: none;
}
*/
div.color {
	width:60px;
	height:2.5em;
	float: left;
	display: block;
	margin: 1px;
	border: none; 
	overflow: hidden;

}

div.color:hover {
	border: 1px solid white;
	margin: -1px;
	overflow: hidden;
}




